@import './../../../scss/index.scss';

.epg-modal {
    width: 100%;
    .epg-program-detail-video {
        position: fixed;
        top: -20px;
        width: 100vw;
        z-index: -10;
    }

    .epg {
        height: calc(65vh - 40px);
    }
}

//---- TABLET & DESKTOP ----
.epg-modal {
    @include tablet() {
        .epg {
            height: calc(70vh - 40px);
        }
    }
}