@import './../../../scss/index.scss';

.epg-modal {
    width: 100%;

    .epg {
        height: calc(65vh - 40px);
    }
}

//---- TABLET & DESKTOP ----
.epg-modal {
    @include tablet() {
        .epg {
            height: calc(70vh - 40px);
        }
    }
}