@import "./../../../../scss/index.scss";

.event-item {
  border: 1px solid $grey;
  background: $bg-soft-grey;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 0 4px 0 4px;

  .event-item-name,
  .event-item-duration {
    color: $font-white;
  }

  .event-item-name {
    font-size: 12px;
    margin-bottom: 5px;
  }

  .event-item-duration {
    font-size: 8px;
  }
}

//---- TABLET & DESKTOP ----
.event-item {
  @include tablet() {
    padding: 0 8px 0 8px;

    .event-item-name {
      font-size: 15px;
      margin-bottom: 5px;
    }

    .event-item-duration {
      font-size: 10px;
    }
  }
}
