@import './../../../../scss/index.scss';

.event-item {
    border: .5px solid $grey;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    width: 300px;
    height: 100%;

    .event-item-name, .event-item-duration {
        color: $font-white;
    }

    .event-item-name {
        font-size: 16px;
    }

    .event-item-duration {
        font-size: 10px;
    }
}