@import './../../../../scss/index.scss';

.event-list-by-channel {
    display: flex;
    max-height: 64.2px;
    height: 64.2px
}

//---- TABLET & DESKTOP ----
.event-list-by-channel {
    @include tablet() {
    max-height: 92px;
    height: 92px;
    }
}