@import './scss//index.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  min-height: 100vh;
  min-width: 300px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
  }
}