//---- Media Queries ----
$telefono : 480px;
$tablet : 768px;
$desktop : 1024px;

//---- Colors ----
$grey: #333;
$white: #fff;

//Backgrounds
$bg-dark: #000;
$bg-soft-grey: #1a1a1a;

//---- Fonts ----
$font-white: #fff;
$font-dark: #000;
